@import "@/styles/variables.scss";

.sidenavbarCont {
  width: 100%;
  font-size: $regular;
  height: 100%;
}

.linksCont {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 3rem;
  font-size: $regular2;
}

.linksCont a:first-child {
  font-weight: bold;
}

.linksCont:last-child {
  border-bottom: none;
}

.linksCont > a {
  padding: 0.25rem 0;
}

.linksCont > a:hover {
  color: $hoverdarkgrey;
}

.linksCont > a.active {
  color: $blue;
  font-weight: bold;
}
